
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.opt {
    display: flex;
    padding: 0 5px;
    font-size: 14px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    width: 170px;
    height: 25px;
}
.searchFilter{
    display: flex;
    margin: 0 350px;
    justify-content: space-evenly;
}

.btn {
    width: 170px;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    text-align:center;
    background-color: white;
    font-family: sans-serif;
    }
    .btn:hover {
        background-color: #00BFFF;
        cursor: pointer;
    }

    .link{
        text-decoration: none;
        font-family: sans-serif;
        color: black;
    }
    
    .link:hover {
        background-color: #00BFFF;
    }

    .Card{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .filterLabel{
        font-family: sans-serif;
        color: white;
        width: 150px;
    }
    .rating {
        display: flex;
    }

