@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 16px;

}